
.contacts {
  .search {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;

    &Input {
      width: 100%;
      font-size: 120%;
      padding: 1rem;
      border-radius: 0.5rem;
      border: solid 1px lightgray;
      outline: none;

      &:focus {
        border-color: gray;
      }
    }
  }

  .loadMore {
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;

    &Button {
      width: 100%;
      font-size: 120%;
      padding: 1rem;
      border-radius: 0.5rem;
      background: white;
      border: solid 1px lightgray;
      outline: none;
      cursor: pointer;

      &:hover {
        border-color: gray;
      }
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;

    & > * {
      flex: 0 1 20rem;
      margin: 1rem;
    }
  }
}
