
.contacts {
  font-family: 'Gill Sans', Calibri, sans-serif;

  .search {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;

    &Input {
      width: 100%;
      font-size: 120%;
      padding: 1rem;
      border-radius: 0.5rem;
      border: solid 1px lightgray;
      outline: none;

      &:focus {
        border-color: gray;
      }
    }

    &Status {
      text-align: center;
      margin: 2rem;
    }
  }

  .loadMore {
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;

    &Button {
      width: 100%;
      font-size: 120%;
      padding: 1rem;
      border-radius: 0.5rem;
      background: white;
      border: solid 1px lightgray;
      outline: none;
      cursor: pointer;

      &:hover {
        border-color: gray;
      }
    }
  }

  .error {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    color: tomato;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > * {
      flex: 0 1 16rem;
      margin: 1rem;
    }
  }
}
