
.button {
  width: 100%;
  font-size: 120%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: white;
  border: solid 1px lightgray;
  outline: none;
  cursor: pointer;

  &:hover {
    border-color: gray;
  }

  &Loading {
    cursor: progress;
  }
}